<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doggos</title>
</head>
<body>
  <h1>Doggos</h1>
  <%if(error){    %>
    <h2><%=error%></h2>
  <% }  %>
  <ul>
  <% dogs.forEach(dog => { %>
  <li>Type: <%=  dog.text %>
    <br>
    Are they hypoallegenic: <%=  dog.hypoallegenic %>
    <br>
    
    max adult wight in pounds: <%=  dog.maxWieght %>
  
  </li>
  <% }) %>


  </ul>
</body>
</html>